/* .image-slide-bgOne {
 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(./b-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 146px);
  } */
  .overlay{
      filter:brightness(50%);
  }
@media only screen and  (max-width:576px) {
    .responsive-img{
        width:100%;
    }
}